{% extends 'myauth/base.html'%}
{%block body%}
<h1>注册</h1>
<form action="" method="POST">
	{% csrf_token %}
	{% comment %} <input type="hidden" name="csrfmiddlewaretoken" value="sSFc9Jd1pMV2wXW3yOj7A1WOB7MCA9EqAcJ9U7LTVDllcotyqnLhcLLpBgWxSpDj">
	{% endcomment %}
	<p><label for="id_username">用户名:</label> <input type="text" name="username" maxlength="150" autofocus="" required=""
		 id="id_username"> <span class="helptext">必填。150个字符或者更少。包含字母，数字和仅有的@/./+/-/_符号。</span></p>
	{{注册表单.errors.username}}

	<p><label for="id_password1">密码:</label> <input type="password" name="password1" required="" id="id_password1"> <span
		 class="helptext"></span></p>
	<ul>
		<li>你的密码不能与其他个人信息太相似。</li>
		<li>你的密码必须包含至少 8 个字符。</li>
		<li>你的密码不能是大家都爱用的常见密码。</li>
		<li>你的密码不能全部为数字。</li>
	</ul>
	{{注册表单.errors.password1}}

	<p></p>
	<p><label for="id_password2">密码确认:</label> <input type="password" name="password2" required="" id="id_password2">
		<span class="helptext">为了校验，请输入与上面相同的密码。</span></p>
	{{注册表单.errors.password2}}

	<p><label for="id_email">电子邮件地址:</label> <input type="email" name="email" maxlength="254" id="id_email"></p>
	{{注册表单.errors.email}}

	<p><label for="id_nickname">昵称:</label> <input type="text" name="nickname" maxlength="30" id="id_nickname"></p>
	{{注册表单.errors.nickname}}

	<p><label for="id_birthday">生日:</label> <input type="date" name="birthday" id="id_birthday"></p>
	{{注册表单.errors.birthday}}

	<p><label for="id_sex">性别:</label>

		<select name="sex" maxlength="32" required="" id="id_sex">
			{% for key,value in 注册表单.gender %}
			<option value="{{ key }}">{{ value }}</option>
			{% endfor %}
		</select>

	</p>
	{{注册表单.errors.gender}}


	<p><label for="id_classroom">班级:</label>
		<select name="classroom" maxlength="32" required="" id="id_classroom">
			{% for key,value in 注册表单.room %}
			<option value="{{ key }}">{{ value }}</option>
			{% endfor %}
		</select>
	</p>
	{{注册表单.errors.classroom}}

	<button type="submit">注册</button>
</form>

<a href="{%url 'myauth:主页' %}">主页</a>




{%endblock body%}